# Specify filepatterns you want git to ignore.

release/
dist/
litedist/
patch/

build/
src/build
bin/*.exe
src/__pycache__/
src/yaml/__pycache__/

src/latest.log
src/report_*.txt

extras/
custom_volumes/*
custom_volumes_other/*
transcripts/*/