# Specify filepatterns you want git to ignore.

release/
dist/
litedist/
patch/

Mods.zip
Standalone.zip
build/
src/build
src/scripts/rpydiff_*/
bin/*.exe
src/__pycache__/
src/yaml/__pycache__/

src/scripts/Openbound

src/*.log
src/report_*.txt

extras/
custom_volumes/*
custom_volumes_other/*
liteskins/*
transcripts/*/
transcripts/dynamic_colors.css