# Specify filepatterns you want git to ignore.

src/__pycache__/*
src/latest.log
dist/
litedist/
patch/
src/report_*.txt

extras/
custom_volumes/hiveswap_min/
custom_volumes/openbound_min/
custom_volumes_other/hiveswap/
custom_volumes_other/openbound/

custom_volumes/befriendus/
custom_volumes/volumex/
custom_volumes/dancestorquest/
custom_volumes/secret_toby_fox_collab/
custom_volumes/aysha/
